@import "vars";

.quotes {
  display: none;
  min-height: 30px;
  padding: 20px 25px 15px;
  margin-top: 30px;
  position: relative;
  background-color: $accent-color;
  @media screen and (min-width: $tablet) {
      display: block;
  }
  @media screen and (min-width: $small-desktop) {
      min-height: 50px;
  }
  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(../img/left-quote.svg) no-repeat;
    top: -10px;
    left: -8px;
  }
  &:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url(../img/left-quote.svg) no-repeat;
    transform: rotate(-180deg);
    bottom: -10px;
    right: -8px;
  }
}
.quote {
  display: none;
  font-size: 18px;
  line-height: 1.2em;
}